*{
    margin: 0px;
    padding: 0px;
}


/*Titulo*/

a.titulo-inicio{
    text-decoration:none;
    font-size: 50px;
    padding-left: 50px;
    color: rgb(142, 104, 175);
}

/*index*/


.a-index{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-family: 'Comic Neue', cursive;
    font-weight: bold;
}

.a-index:hover{
    color: rgb(223, 203, 241);
    font-size: 25px;
    transition: 1s;
    
}

.a-index:hover{
    transform: scale(2);
}
nav{
    background-color: rgb(142, 104, 175);
}
.nav-violeta{
    background-color: rgb(142, 104, 175) !important;
}

.imagen-index{
    width: 100%;
    height: 100%;
    
}

/*nosotros*/

.main-nosotros{
    display: grid;
    background-color: rgb(179, 157, 207);
    
}


.grilla-general-producto img{

    width: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
} 
@media only screen and (min-width:600px){
    

.grilla-general{
    grid-template-columns: 100%;
    grid-template-rows: repeat(4,auto);
    grid-template-areas: "header"
                        "nav"
                        "main"
                        "footer";
    

                    }

.main-nosotros{
    grid-template-columns: 45% 45%;
    grid-template-rows: 90%;
    grid-template-areas: "parrafo imagen";
    justify-content: space-evenly;
    align-content: center;

                }

.imagen-nosotros{
    padding-top: 70px;
        width: 100%;
        height: 70%;
}
.nos-parrafo{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 15px;
}
}



@media only screen and (max-width:600px){
    
    .a-index{
        font-size: 16px;
    }
    .a-index:hover{
        color: rgb(223, 203, 241);
        font-size: 15px;
        transition: 1s;
        
    }
    .nos-parrafo {
        
        justify-content: center;
    }
.grilla-general{
    grid-template-columns: 100%;
    grid-template-rows: 80px 90px 900px 150px;
    grid-template-areas: "header"
                        "nav"
                        "main"
                        "footer";
                    }
} 

.main-nosotros{
    grid-template-columns: 90%;
    grid-template-rows: 45% 45%;
    grid-template-areas: "parrafo imagen";
    justify-content: space-evenly;
    align-content: center;
}
.imagen-nosotros{
    padding-top: 20px;
    width: 90%;
    height: 70%;
    padding-left: 25px;
}
.nos-parrafo{
    padding-top: 20px;
    font-size: 15px;
}
.main-nosotros{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*main como comprar*/

.como-comprar h2{
    margin-top: 20px;
}
.como-comprar{
    
    justify-content: center;
    align-items: center;
}

/* contacto */
.comentario textarea {
    
    margin-left: 5px !important;
    width: 90%;
}
.contacto-form h2{
    align-content: center;
    justify-content: center;
}


/*Main contactos*/
.contacto-form{
    padding-top: 20px;
}


.btn.btn-primary{
    margin-right:auto;
    margin-left: 50%;
    margin-top: 20px;
    margin-bottom: 20px;

}

.contacto-form{
    background-color: rgb(179, 157, 207);
}

footer{
    display: flex;
    grid-area: footer;
    justify-content: space-evenly;
    align-items:center;
    border: 2px;
    background-color: rgb(66, 47, 109);
    height: 100px;
    color: white;
    
}


/* navbar */
.navbar-light .navbar-nav .nav-link {
    color: white;
    padding-left: 10px;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgb(66, 47, 109);
    font-size: 18px;
    transition: 1s;
}
.navbar-collapse {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-align: center;
    align-items: center;
    background: rgb(142, 104, 175);
    width: 100%;
}

/*footer redes sociales*/

/* .fa-facebook-square:before, .fa-square-facebook:before {
    content: "\f082";
    font-size: 25px;
}
.fa-instagram:before {
    content: "\f16d";
    font-size: 25px;
} */